#root {
  max-width: 100%;
  margin: 0 auto;
 
  padding: 0;
  text-align: center;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.body{
  background-color: 'yellow';
}
 */
 #scrollbar::-webkit-scrollbar {
  width: 0.2em;
  background-color: hsl(0, 0%, 96%);
}
 
#scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(147, 217, 147);
}
 
#scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(234, 245, 232, 0.3);
  background-color: #F5F5F5;
}
